* {
  box-sizing: border-box;
  margin: 0;
  color: white;
}

body {
  background-image: url('./media/images/main-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.App {
  margin: 10px;
}

.content-container{
  display: flex;
}

.header-container {
  flex: 1;
}

.main-container {
  flex: 4;
  border: solid white 5px;
  border-radius: 25px;
  margin: 5px;
  padding: 10px;
}

.search-container {
}