* {
	box-sizing: border-box;
	margin: 0;
	color: white;
}

body {
	background-image: url('./media/images/main-background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	/* backdrop-filter: blur(5px); */
}

.App {
	/* margin: 10px; */
	
}

.content-container {
	display: grid;
	grid-template-columns: 1fr 5fr;
}

.header-container {
	margin: 10px;
}

.page-container {
}

.main-container {
	margin: 10px;
	padding: 10px;
	min-height: 75vh;
	min-width: 100px;
	/* backdrop-filter: blur(5px); */
	background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 5px 5px 12px 5px rgba(0, 0, 0, 0.74);
}

.searchbar-container {
	margin: 10px;
	padding: 10px;
}

.footer {
	padding: 10px;
}
