.question-list {
    padding: 10px;
    /* border: solid white 3px; */
    box-shadow: 5px 5px 12px 5px rgba(0, 0, 0, 0.2);
    background-color: rgba(255,255,255,0.3);
}

#category-name {
    text-transform: capitalize;
}